*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 600px;
    min-height: 650px;
    margin: 0 auto;
    position: relative;
    border-color: #fff;
    background: url('../img/white.png') center center/cover no-repeat;
    
}

body{
    background: url('../img/fon.jpg') center center/cover no-repeat;
}

header{
    width: 100%;
    height: 130px;
}

nav{
    width: 100%;
    display: flex;
}

.red{
    width: 150px;
    height: 30px;
    background-color: #ff0000;
    text-align: center;
    padding: 5px 0;
    color: #fff;
    font-size: 20px;
}

.red_a{
    color: #fff;
    letter-spacing: 2px;
}

a{
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
}

.ccc{
    width: 150px;
    height: 30px;
    background-color: #ccc;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
}

.logo{
    width: 200px;
    height: 100px;
    background-color: #CFCFCF;
    text-align: center;
    padding: 40px 0;
    display: inline-block;
}

.logo_text{
    font-weight: 600;
    font-size: 17px;
    color: #708090;
}

.search{
    position: absolute;
    top: 70px; right: 140px;
    width: 170px;
}

.submit{
    position: absolute;
    top: 70px; right: 80px;
    width: 55px;
}

.search_block{
    width: 100%;
    height: 100px;
}

.block_1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.square{
    width: 150px;
    height: 210px;
    border: 2px solid #FFA500;
    border-radius: 5px;
}

.title{
    width: 100%;
    height: 25px;
    text-align: center;
    background-color: #1E90FF;
    color: #fff;
    padding-top: 2px;
    font-size: 17px;
}

.car_img{
    width: 100%;
    height: 155px;
    background-color: #ccc;
    text-align: center;
    padding-top: 65px;
    font-size: 17px;
    font-weight: 600;
    color: #708090;
}

section{
    padding: 5px 0 30px;
}

.price{
    text-align: center;
    font-weight: 900;
    font-size: 19px;
    padding-top: 3px;

}

.block_2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}

footer{
    width: 100%;
    height: 55px;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

